// Basic HTML
html body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: black;
  background-color: white;
}

.btn button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 2.3em;
  color: white;
}
